# Importing the Necessary Packages

In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm

# Scraping the Data from Wikipedia Page , the first Table

In [2]:
wiki_url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(wiki_url)[0]

In [3]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

# Removing all the Not assigned values in the Borough Column

In [39]:
df = df[~(df['Borough']=='Not assigned')] # Removing all the Rows with Borough = Not assigned

In [40]:
df.reset_index(drop = True , inplace = True)

# Concatenating Neighbourhood Names based on Postcode names

In [42]:
for pcode in tqdm(df['Postcode'].unique()):
    df.loc[df['Postcode']==pcode,'Neighbourhood'] = ','.join(df[df['Postcode']==pcode]['Neighbourhood'].unique().tolist())

HBox(children=(IntProgress(value=0, max=103), HTML(value='')))

In [44]:
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor

# Dropping Duplicates

In [46]:
df.drop_duplicates(inplace = True)

In [48]:
df.reset_index(drop = True , inplace = True)

In [50]:
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Not assigned

# Replacing the Not assigned values in the Neighbourhood with the name of the Borough

In [52]:
df[df['Neighbourhood']=='Not assigned']

  Postcode       Borough Neighbourhood
4      M7A  Queen's Park  Not assigned

In [53]:
# Only a single value , but we must generalise it

In [56]:
for i in tqdm(range(len(df))):
    if df.loc[i,'Neighbourhood']=='Not assigned':
        df.loc[i,'Neighbourhood'] = df.loc[i,'Borough']

HBox(children=(IntProgress(value=0, max=103), HTML(value='')))

In [59]:
df.head() # We can se it solved the Not assigned Problem

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

# Final Shape of the dataframe

In [62]:
df.shape

(103, 3)